pkgbase = aniquote
	pkgdesc = CLI tool for fetching anime quotes in your terminal.
	pkgver = 4.1.0
	pkgrel = 1
	epoch = 1
	url = https://github.com/kug1/aniquote
	arch = x86_64
	license = MIT
	makedepends = deno
	depends = deno
	source = https://github.com/kug1/aniquote/archive/refs/tags/v4.1.0.tar.gz

pkgname = aniquote
